.header
{
    padding-top: 15px;
    width:100%;
    cursor:pointer;
    position:fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: rgb(103, 107, 106);
    font-family: Arial, Helvetica, sans-serif;
    font: size 7vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;

}
.subheader{
    display: flex;
    align-items: center;
    width: 100;
}
.subheader>div{
    margin-left: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(17, 20, 21);

}
.container
{
    align-items: center; 
    float: left;
}
.card
{
    margin: 8px;
    height: 105%;
    width: 15%;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 18px rgb(229, 237, 211);
-moz-box-shadow: 10px 10px 5px 18px rgba(237,211,237,1);
box-shadow: 10px 10px 5px 18px rgba(237,211,237,1);
    /* background-color: red; */
}
.image_card
{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image_card>img{
    height: 95%;
    width:95%;
    overflow: hidden;

}
.card_content
{
    margin-left: 8px;
height: 40%;
width: 100%;
display: flex;
align-items: center;
padding: 4px;

}
.image
{
    float: left;
  padding: 10px;
  overflow: hidden; 
  border: solid black 2px;

}
.title
{
    text-align:center;
}